<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCDQs8Mi4g1uU5EtUxQJD94NmEZdm8ijFc</string>
	<key>GCM_SENDER_ID</key>
	<string>128922768153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.atmaVicharaGemastik</string>
	<key>PROJECT_ID</key>
	<string>atma-vichara</string>
	<key>STORAGE_BUCKET</key>
	<string>atma-vichara.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128922768153:ios:f4bcb1b861c8c303846b88</string>
</dict>
</plist>